<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" style="color: white">Employee Management System</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <button id="add-modal-button" type="button" class="btn btn-primary" data-bs-toggle="modal"
                  data-bs-target="#addEmployeeModal">Add
          </button>
        </li>
      </ul>
    </div>
    <form class="d-flex">
      <label>
        <input class="form-control me-2" type="search" [(ngModel)]="searchParam" placeholder="Search"
               name="search-param">
      </label>
      <button class="btn btn-outline-success" type="submit" (click)="searchEmployee()">Search</button>
    </form>
  </div>
</nav>

<!-- EMPLOYEE LIST -->
<div class="container" id="main-container">
  <div class="row">
    <div *ngFor="let employee of employees" class="col-md-6 col-xl-3">
      <div class="card m-b-30">
        <div class="card-body row">
          <div class="col-6">
            <a href=""><img
              src="https://png.pngtree.com/png-vector/20190429/ourmid/pngtree-employee-icon-vector-illustration-in-glyph-style-for-any-purpose-png-image_998315.jpg"
              alt="" class="img-fluid rounded-circle w-60"></a>
          </div>
          <div class="col-6 card-title align-self-center mb-0">
            <h5>{{employee?.name}}</h5>
            <p class="m-0">{{employee?.jobTitle}}</p>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fa fa-envelope float-right"></i>{{employee?.email}}</li>
          <li class="list-group-item"><i class="fa fa-phone float-right"></i>Phone : {{employee?.phone}}</li>
        </ul>
        <div class="card-body">
          <div class="float-right btn-group btn-group-sm">
            <button id="edit-button" type="button" class="btn btn-primary" (click)="openEditModal(employee.id)">Edit
            </button>
            <button id="delete-button" type="button" class="btn btn-primary" (click)="openDeleteModal(employee.id)">
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- ADD EMPLOYEE Modal -->
<div class="modal fade" id="addEmployeeModal" tabindex="-1" aria-labelledby="contactUsModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="AddModalLabel">Add Employee</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" novalidate>
          <div class="form-group">
            <label for="name">NAME</label>
            <input id="name" name="name" [(ngModel)]="employee.name" #name="ngModel"
                   placeholder="Enter your name" class="form-control" required minlength="5"/>

          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" required email [(ngModel)]="employee.email" placeholder="Enter your email" name="email"
                   class="form-control" id="email"/>
          </div>
          <div class="form-group">
            <label for="job-title">Job Title</label>
            <input type="text" [(ngModel)]="employee.jobTitle" placeholder="Enter your job title" name="job-title"
                   class="form-control" id="job-title" required/>
          </div>
          <div class="form-group">
            <label for="phone">Phone Number</label>
            <input type="text" [(ngModel)]="employee.phone" placeholder="Enter your phone no" name="phone"
                   class="form-control" id="phone" required/>
          </div>
          <div class="modal-footer">
            <button id="add-close-button" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button class="btn btn-success" type="submit" (click)="addEmployee()">Add
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Edit EMPLOYEE Modal Button-->
<button id="edit-modal-button" type="button" style="visibility: hidden" class="btn btn-primary" data-bs-toggle="modal"
        data-bs-target="#editEmployeeModal">Edit
</button>
<!-- Edit EMPLOYEE Modal -->
<div class="modal fade" id="editEmployeeModal" tabindex="-1" aria-labelledby="contactUsModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="EditModalLabel">Edit Employee</h5>
        <button (click)="closeButtonClicked()" type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm" novalidate>
          <div class="form-group">
            <label for="edit-user-name">NAME</label>
            <input type="text" [(ngModel)]="employee.name" placeholder="Enter your name" name="edit-user-name"
                   class="form-control" id="edit-user-name" required minlength="5"/>
          </div>
          <div class="form-group">
            <label for="edit-email">Email</label>
            <input type="text" [(ngModel)]="employee.email" placeholder="Enter your email" name="edit-email"
                   class="form-control" id="edit-email" required email/>
          </div>
          <div class="form-group">
            <label for="edit-job-title">Job Title</label>
            <input type="text" [(ngModel)]="employee.jobTitle" placeholder="Enter your job title" name="edit-job-title"
                   class="form-control" id="edit-job-title" required/>
          </div>
          <div class="form-group">
            <label for="edit-phone">Phone Number</label>
            <input type="text" [(ngModel)]="employee.phone" placeholder="Enter your phone no" name="edit-phone"
                   class="form-control" id="edit-phone" required/>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button (click)="closeButtonClicked()" id="edit-close-button" type="button" class="btn btn-secondary"
                data-bs-dismiss="modal">Close
        </button>
        <button [disabled]="editForm.invalid" class="btn btn-success" (click)="editEmployee()">Update</button>
      </div>
    </div>
  </div>
</div>

<!-- Delete EMPLOYEE Modal Button-->
<button id="delete-modal-button" type="button" style="visibility: hidden" class="btn btn-primary" data-bs-toggle="modal"
        data-bs-target="#deleteEmployeeModal">Edit
</button>
<!-- Delete EMPLOYEE Modal -->
<div class="modal fade" id="deleteEmployeeModal" tabindex="-1" aria-labelledby="contactUsModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="DeleteModalLabel">Delete Employee</h5>
        <button (click)="closeButtonClicked()" type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="delete-user-name">NAME</label>
            <input readonly type="text" [(ngModel)]="employee.name" placeholder="Enter your name"
                   name="delete-user-name"
                   class="form-control" id="delete-user-name">
          </div>
          <div class="form-group">
            <label for="delete-email">Email</label>
            <input readonly type="text" [(ngModel)]="employee.email" placeholder="Enter your email" name="delete-email"
                   class="form-control" id="delete-email">
          </div>
          <div class="form-group">
            <label for="delete-job-title">Job Title</label>
            <input readonly type="text" [(ngModel)]="employee.jobTitle" placeholder="Enter your job title"
                   name="delete-job-title"
                   class="form-control" id="delete-job-title">
          </div>
          <div class="form-group">
            <label for="delete-phone">Phone Number</label>
            <input readonly type="text" [(ngModel)]="employee.phone" placeholder="Enter your phone no"
                   name="delete-phone"
                   class="form-control" id="delete-phone">
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button (click)="closeButtonClicked()" id="delete-close-button" type="button" class="btn btn-secondary"
                data-bs-dismiss="modal">Close
        </button>
        <button class="btn btn-success" (click)="deleteEmployee()">Delete</button>
      </div>
    </div>
  </div>
</div>
